.footer {
    background: #333333;
}

.footer-copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;

    color: #FFFFFF;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;

    margin-top: 10px;

    color: #B0B0B0;
}

.footer-text a {
    text-decoration-line: underline;
}